/* Colores base */
:root {
    --primary-color: hsl(184, 61%, 34%);
    --secondary-color: #f59a3d;
    --accent-color: #f3c58e;
    --background-color: #ffffff;
    --text-color: #333333;
}

/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}

/* Tamaño del texto agrandado para el encabezado */
.header-title {
    font-size: 2em;
    color: var(--accent-color);
    font-weight: bold;
}

/* Estilo de imagenes de galería */
.image-item img {
    border: 3px solid var(--secondary-color);
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: var(--accent-color);
}

.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
